.acResults {
	z-index: 1;
}
.acResults > ul {
	overflow-y: auto;
	max-height: 200px;
}
.acTagCount {
	float: right;
	padding-left: 15px;
}
.acResults li:not(.acSelect) .acTagCount {
	color: gray;
}
.acSelect {
	color: white;
}