.acResults {
	z-index: 1;
	word-wrap: break-word;
	white-space: normal;
	color: black;
	text-align: left;
	max-height: 200px;
	overflow-y: auto;
}
.acResults > ul {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.acResults > ul > li {
	display: table-row;
	vertical-align: middle;
}
.acResults > ul > li > * {
	display: table-cell;
	padding: 2px;
}
.acTagName {
	width: 100%;
	word-break: break-all;
}
.acTagCount {
	vertical-align: middle;
	text-align: center;
}
.acResults li:not(.acSelect) .acTagCount {
	color: gray;
}
.acSelect {
	color: white;
}
.acLoading {
	background: none;
}